 .profile-container {
            position: relative;
            display: inline-block;
        }

        .camera-icon {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .profile-container:hover .camera-icon {
            opacity: 1;
        }

        .profile_name{
            position: absolute;
            top: 101%;
            left: 56px;
        }
        .profile_email{
            position: absolute;
            top: 109%;
            left: 12px;
        }